


{% for premiumdestination in premiumdestinations %}
    <li>
        <a href="{{ path('app_search_index2', {'id': premiumdestination.id}) }}">
             <span style="color: gold">{{ premiumdestination.nom }}</span>
        </a>
    </li>
{% endfor %}