



    <ul>
        {% for destination in destinations %}
            <li>
                <a href="{{  path('app_destination_index',{'id': destination.id}) }}">
                    {{ destination.nom }}
                </a>

            </li>
        {% endfor %}

    </ul>